# all zip files
# contains the changesets
*.zip

# all class files
*.class

# the jars
lib/

# docs you will find in the wiki
doc/

# if you need apidoc generate:
javadoc/

# the build files
bin/

# the areas
*.csv
/javadoc.xml
/aufgaben.todo

# gradle files
.gradle/
gradle-app.setting

# classpath and other settings,
# because they depend on local machine
.classpath
.project
.settings/
