# all zip files
# contains the changesets
*.zip

# all class files
*.class

# the jars
lib/

# docs you will find in the wiki
doc/

# the build files
bin/

# the areas
*.csv
/javadoc.xml
/aufgaben.todo
